In [13]:
import pandas as pd
import numpy as np
people=["Amaro", 
        "Baracchini", 
        "Benussi", 
        "Bianco", 
        "Caponero",
        "DSCardoso", 
        "Cavoto", 
        "Costa", 
        "Roque", 
        "Dané", 
        "Dho", 
        "DiGiambattista", 
        "DiMarco", 
        "DImperio", 
        "Iacoangeli", 
        "HermanLima", 
        "GuilhermeLopes", 
        "AmarodaLopes", 
        "Maccarrone", 
        "Mano", 
        "Gregorio", 
        "Marques", 
        "Mazzitelli", 
        "McLean", 
        "Messina", 
        "Monteiro", 
        "Nobrega", 
        "Pains", 
        "Petrucci", 
        "Piacentini", 
        "Piccolo", 
        "Pinci", 
        "Prajapati", 
        "Renga", 
        "Santos", 
        "Saviano", 
        "Spooner", 
        "Torelli"]

In [17]:
print(len(people))
emptyArr = np.zeros(len(people), dtype=int)


data = {'person': people, 'enable': emptyArr, 'onsite': emptyArr, 'remote': emptyArr, 'local': emptyArr}

df = pd.DataFrame(data)

38

In [18]:
df

            person  enable  onsite  remote  local
0            Amaro       0       0       0      0
1       Baracchini       0       0       0      0
2          Benussi       0       0       0      0
3           Bianco       0       0       0      0
4         Caponero       0       0       0      0
5        DSCardoso       0       0       0      0
6           Cavoto       0       0       0      0
7            Costa       0       0       0      0
8            Roque       0       0       0      0
9             Dané       0       0       0      0
10             Dho       0       0       0      0
11  DiGiambattista       0       0       0      0
12         DiMarco       0       0       0      0
13        DImperio       0       0       0      0
14      Iacoangeli       0       0       0      0
15      HermanLima       0       0       0      0
16  GuilhermeLopes       0       0       0      0
17    AmarodaLopes       0       0       0      0
18      Maccarrone       0       0       0      0
19            Mano       0       0       0      0
20        Gregorio       0       0       0      0
21         Marques       0       0       0      0
22      Mazzitelli       0       0       0      0
23          McLean       0       0       0      0
24         Messina       0       0       0      0
25        Monteiro       0       0       0      0
26         Nobrega       0       0       0      0
27           Pains       0       0       0      0
28        Petrucci       0       0       0      0
29      Piacentini       0       0       0      0
30         Piccolo       0       0       0      0
31           Pinci       0       0       0      0
32       Prajapati       0       0       0      0
33           Renga       0       0       0      0
34          Santos       0       0       0      0
35         Saviano       0       0       0      0
36         Spooner       0       0       0      0
37         Torelli       0       0       0      0

In [ ]:
for i, person in enumerate(people):
        df.loc[i,'enable'] = int(input(person+' enable:'))
        df.loc[i,'onsite'] = int(input(person+' onsite:'))
        df.loc[i,'remote'] = int(input(person+' remote:'))
        df.loc[i,'local'] = int(input(person+' local:'))

In [27]:
df

            person  enable  onsite  remote  local
0            Amaro       1       0       0      0
1       Baracchini       1       1       0      0
2          Benussi       1       0       0      0
3           Bianco       1       0       0      0
4         Caponero       1       0       0      0
5        DSCardoso       1       0       0      0
6           Cavoto       1       0       0      0
7            Costa       1       0       0      0
8            Roque       1       0       0      0
9             Dané       1       0       0      0
10             Dho       1       0       0      0
11  DiGiambattista       1       1       0      0
12         DiMarco       1       0       0      0
13        DImperio       1       0       0      0
14      Iacoangeli       1       0       0      0
15      HermanLima       1       0       0      0
16  GuilhermeLopes       1       0       0      0
17    AmarodaLopes       1       0       0      0
18      Maccarrone       1       0       0      0
19            Mano       1       0       0      0
20        Gregorio       1       0       0      0
21         Marques       1       0       0      0
22      Mazzitelli       1       0       0      0
23          McLean       1       0       0      0
24         Messina       1       0       0      0
25        Monteiro       1       0       0      0
26         Nobrega       1       0       0      0
27           Pains       1       0       0      0
28        Petrucci       1       0       0      0
29      Piacentini       1       0       0      0
30         Piccolo       1       0       0      0
31           Pinci       1       0       0      0
32       Prajapati       1       1       0      0
33           Renga       1       0       0      0
34          Santos       1       0       0      0
35         Saviano       1       0       0      0
36         Spooner       1       0       0      0
37         Torelli       1       1       0      0